<!doctype html>
<html lang="en" ng-app="todos">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/main.css"/>
  <title>Todo with Express and Angular</title>
</head>
<body>
<h1>Todo with Express and Angular</h1>

<div ng-controller="TodoCtrl as todoCtrl">

  <form ng-submit="todoCtrl.addTodo()" novalidate>
    <label for="task">
      <input type="text" id="task" name="task" ng-model="todoCtrl.newTodo.name"/>
    </label>
    <button type="submit">Add</button>
  </form>

  <form>
    <ul>
      <li ng-repeat="todo in todoCtrl.todos">
        <input type="checkbox"
               id="todo{{ todo._id }}"
               ng-change="todoCtrl.updateTask($index)"
               ng-model="todo.done"/>
        <label for="todo{{ todo._id }}"
               ng-class="{active: todo.done}">{{ todo.name }}</label>

        <button ng-click="todoCtrl.removeTask($index)">&#10006;</button>
      </li>
    </ul>
  </form>
</div>

</body>

<script src="scripts/vendors.js"></script>

<script src="scripts/app.js"></script>

<script src="scripts/resources/todos.js"></script>

<script src="scripts/controllers/TodoCtrl.js"></script>

</html>